html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dde2ff;
}

#timer {
  font-size: 80px;
  font-family: 'Fredericka the Great', cursive;
}

.stopwatch-container {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #eaedf9;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
  min-height: calc(100vh - 35rem);
}

.button-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons {
  margin-right: 0.5rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #7aa4e8;
  outline: none;
  border: none;
  padding: 0.3rem;
  width: 6rem;
  right: 50px;
  border-radius: 10px;
}

.buttons:hover {
  cursor: pointer;
  background-color: #0c45a0;
}

.start {
  background-color: #ff9b7a;
}

.stop {
  background-color: #db6f59;
}

.stop:hover {
  background-color: #a32a11;
}

.log-btn {
  opacity: 0.2;
}

.table-container {
  margin: 0 auto;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  max-width: 90%;
}

@media (max-width: 768px) {
  .table-container {
    font-size: 0.8rem;
  }
  table {
    min-width: 600px;
  }
}

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 60%;
  height: 25px;
}

th {
  background-color: #0c45a0;
  color: #fff;
}

th:last-child,
span {
  text-transform: none;
}

span {
  font-size: 12px;
}

tr {
  text-align: center;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #b2c6ea;
}

table,
th,
td {
  border: 2px solid black;
}

td {
  font-size: 16px;
}

/* Submit form */

.form-container {
  display: flex;
  margin: 0 auto;
  background-color: #eaedf9;
  margin-top: 50px;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 600px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

.table-form {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.table-form h1 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 35px;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  margin: 80px 0;
  border-radius: 15px;
}

.table-form select {
  width: 139.5px;
}

.table-form label {
  font-weight: bold;
}

.description-field {
  display: flex;
  flex-direction: column-reverse;
}

.description-field label input {
  display: block;
}

.description-field label:focus {
  color: #474e77;
}

.form-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #dde2ff;
  width: 110%;
  transition: border-bottom-color 1s;
}

.form-input:focus {
  border-bottom-color: #474e77;
}

.description-field input:focus + label {
  border-bottom-color: #474e77;
}

.description-field {
  display: inline-block;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}

.category-field {
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.category-field label input {
  display: block;
}

.category-field input {
  width: 80%;
  height: 22px;
  margin-bottom: 10px;
}

.category-field button {
  font-size: 12px;
  width: 100px;
}

#submit-btn {
  position: absolute;
  left: 0;
  bottom: 20%;
}

#dropdown {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #dde2ff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  width: 45%;
  bottom: 37%;
  left: 30%;
  margin-left: 10px;
  margin-top: 20px;
}

#dropdown:focus {
  border-bottom-color: #474e77;
  color: #474e77;
  font-weight: bold;
}

#dropdown option {
  ouline: none;
  background-color: transparent;
}

.x-btn {
  position: absolute;
  bottom: -6%;
  right: 1px;
  font-size: 23px;
  font-weight: bold;
  color: #262626;
  cursor: pointer;
}

/* show hide stopwatch container table container and form container */

.stopwatch-container,
.table-container {
  display: flex;
}

.form-container {
  display: none;
}

.show-form {
  display: flex;
}

.hide-form {
  display: none;
}
